<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>
    <h1>display_student</h1>
        
      <table border="2px">
        <tr>
          
          <th>Sc.NAME</th>
          <th>St.NAME</th>
          <th>St.ID</th>
        </tr>
        {% for sto in QLSTO %}
          <tr>
           
            <td>{{sto.scname}}</td>
            <td>{{sto.sname}}</td>
            <td>{{sto.sid}}</td>
          </tr>
        {% endfor %}
      </table>
       
  </center>
</body>
</html>