<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>
    <h1>display_school</h1>
        
      <table border="2px">
        <tr>
          
          <th>S.NAME</th>
          <th>S.PRINC</th>
          <th>S.LOC</th>
        </tr>
        {% for so in QLSO %}
          <tr>
           
            <td>{{so.scname}}</td>
            <td>{{so.scprincipal}}</td>
            <td>{{so.sclocation}}</td>
          </tr>
        {% endfor %}
      </table>
       
  </center>
</body>
</html>